@import '../../../../assets/styles/media.scss';

.header_container {
	position: fixed;
	right: 0;
	left: 330px;
	top: 0;
	padding: 30px;
	background-color: none;
	z-index: 99;
	@include for-desktop-down() {
		left: 0;
	}

	.ant-layout-header {
		position: relative;
		flex-flow: row nowrap;
		display: flex;
		align-items: center;
		height: 60px;
		line-height: 60px !important;
		padding-left: 0;
		padding-right: 0;
		background-color: #fff;
		border-radius: 0.8rem;
		box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
			0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
			0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
		.ant-menu {
			width: 100%;
			display: flex;
			font-family: inherit;
			line-height: inherit;
			box-shadow: none;
			border: 0;
			background: none;

			li {
				text-align: center;
			}

			.ant-menu-item,
			.ant-menu-submenu-title {
				padding: 0 1rem;
			}

			.anticon {
				margin: 0;
				svg {
					width: 20px;
					height: 20px;
					vertical-align: middle;
				}
			}
		}
	}

	.toggle_menu_btn {
		display: none !important;
		@include for-desktop-down() {
			display: inline-block !important;
		}
	}
}
