.w-120px {
	width: 120px;
}
.cursor-pointer {
	&:hover {
		cursor: pointer;
	}
}

.btn-icon {
	display: flex;
	align-items: center;
	color: #000;
	font-weight: 500;
}

.gap-1 {
	gap: 0.25rem;
}
.gap-2 {
	gap: 0.5rem;
}
.gap-3 {
	gap: 1rem;
}
.gap-4 {
	gap: 1.5rem;
}
.gap-5 {
	gap: 2rem;
}
